.callout, .about, .group, .callout .primary {
    background-color:  rgba(78, 55, 55, 0.85);
    border: none;
}
.bg-grey {
   background-image: url(../img/books.jpg); 
}
.bg {
    background-image: url(../img/baner.jpg);
    background-size: cover;
}
.title-bar{
    background: #bb2921;
}
hr {
    width: 100%;
    border-bottom: 3px solid #bb2921;
}
.about {
    color: #ffffff;
}
.course {
    background-image: url(../img/course.jpg);
    background-size: cover;
    color: #ffffff;
}
.group_bg {
    background-image: url(../img/books.jpg);
    background-size: cover;
    color: #ffffff;
}
.pad-top {
    padding-top: 40px;
}
.pad-bot {
    padding-bottom: 40px;
}
.red {
    background: #bb2921;
    color: #ffffff;
}
.red a {
    color: #ffffff;
}
.button.hollow {
        border: 1px solid #ffffff;
    color: #ffffff;
}
.callout.primary h1 {
    color: #ffffff;
}
.video video {
    width: 100%;
}
.whyUs .row .column img {
    width: 310px;
    height: 210px;
}
.course .row .column img, .study .column img { width: 220px;
    height: 150px;
} 
.why .column img { 
    width: 60px;
    height: 60px;
}
.map-img {
    width: 100%;
}
.map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;   
}
.price {
    font-weight: bold;
    font-size: 18px;
}
.row .video, .row .video-title, .about .row .row {
    margin-right: 0;
    margin-left: 0;
}
h2 {
    border-bottom: 3px solid #bb2921;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}
.callout {
    color: #ffffff;
}
.why .column {
    position: relative;
    height: 220px;
}
.why .column a {
    bottom: 0;
    position: absolute;
    width: 80%;
}
@media screen and (max-width: 640px){
.row h2 {
    margin: 0 auto;
    margin-bottom: 20px;
}
    .row {
        text-align: center;
    }
    .row ul{
        text-align: left;
    }
    .about .row, .video-title {
        width: 100%;
    }
}
