#work {
    padding-bottom: 70px;
    .row {
        h3 {
            @include subtitle;
            padding-top: 110px;
        }
        h2 {
            @include title;
                padding-top: 25px;
        }
        hr {
            @include redLine;
            margin-top: 40px;
        }
        .text {
            @include text;
            padding-top: 40px;
        }	
    }
	.work-wrap {
		.col-xs-12 {padding-right: 0;
    padding-left: 0;}
		.col-md-6 {padding-right: 0;
    padding-left: 0;}
		.col-lg-3 {padding-right: 0;
    padding-left: 0;} 
		.col-xl-3 {padding-right: 0;
    padding-left: 0;}
		img {
			width: 100%;
		}
	}
}